doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title AskAway- Admin Verify
    body(style='font-family: Arial,Helvetica Neue,Helvetica,sans-serif; ;')
        table#backgroundTable.bgBody(cellpadding='0', width='100%', cellspacing='0', border='0')
            tbody
                tr
                    td
                        table.container(cellpadding='0', align='center', cellspacing='0', border='0', style=' width: 100%; max-width: 600px; table-layout: fixed;')
                            tbody
                                tr
                                    td
                                        table.container(cellpadding='0', cellspacing='0', border='0', align='center', width='600', style='box-shadow: 0px 0px 32px -12px;  max-width: 600px; table-layout: fixed; width: 100%;')
                                            tbody
                                                tr
                                                    td.movableContentContainer.bgItem
                                                        .movableContent
                                                            table.container(cellpadding='0', cellspacing='0', border='0', align='center', width='600', style=' width: 100%; max-width: 600px; table-layout: fixed;')
                                                                tbody
                                                                    tr
                                                                        td(width='100%', valign='top')
                                                                            .contentEditableContainer.contentImageEditable
                                                                                .Banner(style='background: #63c1c5;/* background-repeat: no-repeat; */')
                                                                                    .contentEditable(align='left')
                                                                                        a(href='/')
                                                                                            img(width='auto', height='130', alt='Logo', data-default='placeholder', src='https://askaway.io/images/askaway-logo.png', style='padding: 10px; height:70px')
                                                        .movableContent
                                                            table.container(cellpadding='0', cellspacing='0', border='0', align='center', style=' width: 100%; max-width: 600px; padding: 10px 10px;table-layout: fixed;')
                                                                tbody
                                                                    tr
                                                                        td(width='100%', colspan='3', align='center', style='padding-top:5px; padding-left: 22px;')
                                                                            .contentEditableContainer.contentTextEditable
                                                                                .contentEditable(align='left')
                                                                                    h2(style='margin:0px; padding-top: 20px;')  #{candidateName} ,
                                                                    tr
                                                                        td(width='100%', colspan='3', align='center')
                                                                            .contentEditableContainer.contentTextEditable(style='padding: 20px;padding-top: 15px;')
                                                                                .contentEditable(align='left')
                                                                                    p(style='padding: 0;margin-bottom:0;color: #000;font-size:16px;margin-left: 20px;') Congrats! #{adminName} at #{companyName} is inviting you to take a recorded interview for the position of #{jobTitle}.
                                                                                    p(style='padding: 0;margin-top:10px;color: #000;font-size:16px;margin-left: 20px; margin-top: 25px;') Before you start:
                                                                                    p(style='color: #000;font-size:16px;margin-left: 20px;') * You cannot take the interview using a mobile device or a tablet.
                                                                                    p(style='color: #000;font-size:16px;margin-left: 20px;') * Your interview session can only be started twice.
                                                                                    p(style='color: #000;font-size:16px;margin-left: 20px;') * This link will expire in two weeks.
                                                                                    p(style='color: #000;font-size:16px;margin-left: 20px;') * If you wish to make alternative arrangements, please contact #{managerName} at: #{adminEmail}
                                                            table.container(cellpadding='0', cellspacing='0', border='0', align='center', width='600', style=' width: 100%; max-width: 600px; table-layout: fixed;')
                                                                tbody
                                                                    tr
                                                                        td(width='100%', align='center')
                                                                            table(cellpadding='0', cellspacing='0', border='0', align='left', width='100%', height='50')
                                                                                tbody
                                                                                    tr
                                                                                        td(align='center', width='20', height='50')
                                                                                            .contentEditableContainer.contentTextEditable(style='margin: 0 0 33px 33px;')
                                                                                                .contentEditable(align='left')
                                                                                                    p(style='padding: 0; margin-bottom:0; color: #323232; font-size:22px; font-weight:bold;margin-top: 0;') Good Luck
                                                            table.container(cellpadding='0', cellspacing='0', align='center', border='0', style=' width: 100%; max-width: 600px; table-layout: fixed;margin-left: 10%;')
                                                                tbody
                                                                    tr
                                                                        td(width='100%', style='bgcolor="#000091"; ')
                                                                            a(href=inviteLink, style='background-color: #63c1c5;color: #fff;padding: 15px 20px;font-size: 20px;text-decoration: none; display: inline-block;Margin-right: 35px;') Accept
                                                                            a(href=disableInterviewLink, style='background-color: #df5063;color: #fff;padding: 15px 20px;font-size: 20px;text-decoration: none; display: inline-block;margin-right: 50px;') Decline
                                                                            a(href=practiceInterviewLink, style='background-color:#515594;color: #fff;padding: 15px 20px;font-size: 20px;text-decoration: none; display: inline-block;') Practice
                                                        .movableContent
                                                        table.container(cellpadding='0', cellspacing='0', border='0', align='center', width='600', style=' width: 100%; max-width: 600px; table-layout: fixed;')
                                                            tbody
                                                                tr
                                                                    td(width='100%', valign='top')
                                                                        .contentEditableContainer.contentImageEditable
                                                                            .Banner()
                                                                                .contentEditable(align='left')
                                                                                    a(href='/')
                                                                                        img(width='90%', height='90%', alt='Logo', data-default='placeholder', src='https://app.askaway.io/public/assets/img/bestcompany.png', style='padding: 72px 29px 10px;')
                                                    
